@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Rakkas', cursive;
    font-weight: 400;
    line-height: 1;
    background-color: rgb(232, 232, 255);
}

.img{
    width: 100%;
    display: block;
}

h1{
    font-size: 2.5rem
}

h3{
    font-size: 1.5rem;
    color: #333;
}

@media screen and (min-width: 676px) {
    h1{
        font-size: 5rem;
    }

    h3{
        font-size: 3rem;
    }
}

.container{
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    padding-top: 4rem;
    padding-bottom: 4rem;
    min-height: 100vh;
}

.section-center{
    display: grid;
    align-items: center;
    justify-content: center;
}

#header{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 2rem;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1.25rem;
}

.letters{
    text-align: center;
    text-transform: uppercase;
}

.btn-section{
    margin-top: 7rem;
}

.btn{
    padding: 0.75rem 2rem;
    font-size: 0.875rem;
    text-transform: capitalize;
    border: 1px solid #333;
    border-radius: 5px;
    color: rgb(232, 232, 255);
    background-color: rgb(232, 232, 255);
    /* background-color: #333; */
    font-family: 'Rakkas', cursive;
    letter-spacing: 2px;
    font-size: 1.25rem;
    cursor: pointer;
    transition: all 0.3s linear;
    transform: skewX(-20deg);
}

.btn:hover{
    background-color: transparent;
    color: #333;
    border: 1px solid #333;
    box-shadow: 0px 15px 5px rgba(0, 0, 0, 0.2);
}

#gameBoard{
    /* display: none; */
    background-color: rgb(0, 184, 190);
}

.game-title{
    margin-bottom: 1rem;
}

.cards-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    /* align-items: center; */
    /* justify-content: center; */
}

.game-card{
    height: 12rem;
    position: relative;
    perspective: 1500px;
}

.card{
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    transition: all 1.5s linear;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    width: 70px;
    height: 70px;
}

.front-card{
    background-color: rgba(54, 231, 172, 0.507);
    background-image: url('./images/leone-venter-VieM9BdZKFo-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    opacity: 0.9;
}

.back-card{
    background-color: black;
    transform: rotateY(180deg);
}

.card-flippep .front-card{
    transform: rotateY(-180deg);
}

.card-flippep .back-card{
    transform: rotateY(0deg);
}





/* Medias */
@media screen and (min-width: 676px) {
    h1{
        font-size: 5rem;
    }

    h3{
        font-size: 3rem;
    }

    .btn{
        padding: 0.875rem 3.5rem;
        font-size: 1rem;
        letter-spacing: 3px;
        font-size: 1.25rem;
    }

    .cards-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    img{
        width: 90px;
        height: 90px;
    }
}

@media screen and (min-width: 920px) {
    .cards-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

