@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Rakkas', cursive;
    font-weight: 400;
    line-height: 1;
}

.container {
    width: 100vh;
    margin: 0 auto;
    max-width: 1170px;
}

